.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  background-color: $color-accent;
  &-menu {
    position: relative;
    min-height: 140px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &-logo {
    display: flex;

    align-items: center;
    margin-top: -5px;

    &__image {
      display: block;
      margin-right: 10px;
    }
    &__title {
      display: block;
      font-size: 1.875rem;
      line-height: 20px;
    }
  }
  &-navbar {
    // position: relative;
    display: flex;
    justify-content: flex-end;
    // right: 0;
    // &__hamburger {
    // }
    &__list {
      display: flex;
      list-style: none;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    &__item {
      padding: 0 17px;
      &:last-of-type {
        padding-right: 0;
        margin-right: -20px;
      }
    }
    &__link {
      display: block;
      // overflow: hidden;
      position: relative;

      font-size: 1.375rem;
      padding: 10px 20px;
      font-weight: bold;
      letter-spacing: 0.03em;
      &::after {
        position: absolute;
        content: "";
        border-bottom: 4px solid $color-primary;

        bottom: 0;
        transition: width 0.5s, left 0.5s;
        width: 0;
        left: 50%;
      }
      &:hover,
      &:focus {
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
